@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

html {
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: var(--background-color1);
    background-image: url('../media/bg2.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    justify-content: center;
    margin: 0;
}

.body {
    background: linear-gradient(180deg, var(--background-color1), var(--background-color2));
    background-size: cover;
    border-radius: 10px;
    overflow: hidden;
    padding: 10px;
    margin-bottom: 0.5vw;
    margin-top: 0.5vw;
    justify-content: center;
}

/* Headings and Titles */

.header-titles {
    text-align: center;
    padding: 20px;
    background: linear-gradient(0deg, var(--title-gradient-start), var(--title-gradient-end));
    border-radius: 10px;
    box-shadow: 0px 4px 6px var(--box-shadow-color), 0px 5px 30px var(--box-shadow-color2);
    margin-bottom: 20px;
    backdrop-filter: blur(10px);
}

.header-titles h1 {
    font-size: 2.5em;
    color: var(--primary-text-color);
    margin: .5vw;
    letter-spacing: 1px;
    font-family: Raleway;
    font-weight: bold;
}

.header-titles h2 {
    font-size: 1.5em;
    color: var(--primary-text-color);
    margin-top: 1vw;
    margin-bottom: .5vw;
    font-weight: 300;
}

.header-titles a {
    color: var(--title-color);
    text-decoration: none;

}

.header-titles a:hover {
    color: var(--link-hover-color);
    border-bottom-color: var(--link-hover-color);
    opacity: 0.6;
}

/* Links and Menus */

.header-links {
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: auto;
    padding: 10px;
    box-sizing: border-box;
    margin: 0 auto;
    width: 100%;
    max-width: 800px;
    background: linear-gradient(180deg, var(--link-gradient-start), var(--link-gradient-end));
    box-shadow: 0px 4px 6px var(--box-shadow-color);
    backdrop-filter: blur(10px);
}

.header-links a {
    color: var(--link-color);
    text-decoration: none;
}

.header-links a:hover {
    color: var(--link-hover-color);
    opacity: 0.6;
}

.header-links h2 {
    margin: 0;
    padding: 0;
    text-align: center;
    color: var(--link-color);
}

.header-links img {
    width: clamp(5px, 20px, 40px);
    height: auto;
}

.header-links a:hover {
    text-decoration: underline;
}


@media (max-width: 700px) {

    .header-titles {
        font-size: .8em;
    }

    .header-titles a {
        text-decoration: underline;
        text-decoration-color: var(--mobile-underline-color);
    }

    .homepage a {
        text-decoration: none;

    }

    .repo a {
        text-decoration: underline;
        text-decoration-color: var(--mobile-underline-color2);

    }

    .header-links {
        text-decoration: underline;
        text-decoration-color: var(--mobile-underline-color);
        font-size: .8em;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 4vw;
    }

    .header-links img {
        width: 20px;
        height: auto;
        margin-right: 10px;
    }

    .header-titles h1 {
        font-size: 2.3em
    }

    .header-titles h2 {
        font-size: 1.6em;
    }

    .header-links h2 {
        font-size: 1.3em;
    }
}

@media (min-width: 800px) {

    .body {
        margin: 0.5vw 2vw;
    }

    .rating {
        visibility: hidden;
    }
}

@media (min-width: 1024px) {

    .body {
        margin: 0.5vw 10vw;
    }

    .header-links {
        flex-wrap: wrap;
        justify-content: center;
    }

}

@media (min-width: 1440px) {

    .body {
        margin: 0.5vw 15vw;
    }

}

@media (min-width: 1600px) {
    
    .rating {
        visibility: visible;
    }

}

@media (min-width: 2000px) {

    .body {
        margin: 0.5vw 18vw;
    }

}

@media (min-width: 2250px) {

    .body {
        margin: 0.5vw 25vw;
    }

}