
@import url('colors.css');
.project-header {
    background: var(--project-header-background);
    border-radius: 5px 5px 5px 5px;
}

.project-page {
    backdrop-filter: blur(10px);
    background: linear-gradient(135deg, var(--project-page-background1), var(--project-page-background2));
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1vw;
}

.project-page h1 {
    padding: 1rem;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.project-page h2 {
    border-radius: 5px 5px 0px 0px;
    color: var(--project-h2h4-text);
    padding: 1rem;
    background: var(--project-h2h4-background);
}

.project-page h3 {
    border-radius: 5px;
    font-size: 1.1em;
    padding: 0vw 2rem 0% 2rem;
    line-height: 1.5;
    color: var(--h4-text-color);
    text-shadow: none;
    background: none;
}

.project-header h3 {
    margin-top: 0;
    padding: 1vw 2vw 1vw 3vw;
    background-color: var(--project-header-text);
    border-radius: 0px 0px 5px 5px;
}

.project-page h4 {
    backdrop-filter: blur(10px);
    border-radius: 5px;
    text-align: center;
    padding: 5px;

    background: var(--project-h4-text);
}

.project-page a {
    color: white;
}

.project-page video {
    height: auto;
    object-fit: cover;
    object-position: center;
    
}

.tech-item img {
    margin-left: .35rem;
}
.project-page ol,
.project-page ul {
    padding-inline-start: 0px;
}

.project-page ol li,
.project-page ul li {
    color: var(--project-page-list-text);
    font-size: 1em;
    margin-bottom: 0.5rem;
    margin-left: 3rem;
}

.project-page p {
    color: var(--primary-text-color);
    text-align: left;
    padding-left: 2rem;
    padding-right: 2rem;
    font-weight: 500;
    margin-bottom: 0vw;
}

.project-list li {
    color: var(--primary-text-color);
    margin: 5px 0;
    margin-bottom: 0;
}

.project-list,
.journey {
    background: var(--h3-background-color3);
    border-radius: 5px 5px 5px 5px;
}

.project-list h2 {
    border-radius: 5px 5px 0px 0px;
}

.project-link h4 {
    margin-bottom: 1vw;
}

.projects-list>.project-link:last-child h4 {
    margin-bottom: 0;
}

.project-page ul li:last-child h4 {
    margin-bottom: 0;
}

.techstack {
    padding-top: 1rem;
    padding-bottom: .5rem;
    background-color: var(--tech-stack-background);
    background-image: linear-gradient(to right, transparent, #818181, #7a7878, transparent);
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: 100% 0.08vw;
    box-sizing: border-box;
    width: 100%;
}

.tech-items {
    margin: 0 auto;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 80%;
    gap: 1vw 4vw;
}

.tech-item {
    display: flex;
    align-items: center;
    padding-right: 1rem;
    padding-left: 1rem;
    white-space: normal;
}

.tech-item h4 {
    font-size: 1em;
    padding: 0;
    margin: 0;
    background: none;
    color: var(--primary-text-color);
}

.showcase {
    background: linear-gradient(135deg, var(--showcase-background-color), var(--showcase-background-color2));
    border-radius: 5px 5px 5px 5px;
}

.showcase h4, .previous-attempts h4 {
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.birdflow-showcase h4{
    background: var(--showcase-h4-background);
    color: var(--showcase-h4-text);
}

.previous-attempts h4{
    background: var(--showcase-h4-background);
    color: var(--showcase-h4-text);
}

.technical-breakdown, .features {
    background: var(--project-h3-background);
    border-radius: 5px;
    padding-bottom: 1vw;
    margin-top: 1vw;
}

.technical-breakdown h2 {
    border-radius: 5px 5px 0 0;
}


.technical-breakdown p {
    padding: 0vw 2rem 1rem 2rem;
    font-size: 1.1em;
}

.technical-breakdown li {
    padding-right: 2rem;
}

.project-header h3 {
    padding: 1rem 2rem 1rem 2rem;
}

.experience,
.breakdown-inner,
.journey {
    padding-bottom: 1vw;
}

.project-page a:hover,
.project-link:hover {
    text-decoration: underline;
    text-decoration-color: var(--highlight-color);
}

.tech-item i{
    padding-left: 0.35rem;
}

.settings-themes-showcase {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 1rem;
    justify-content: center;
}

.theme-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, max-content));
    gap: 10px;
    margin: 1rem auto; 
    width: 95%;
    justify-content: center; 
    align-items: center;
}

.plugin-vid {
    max-width: 800px;
    margin: 0 auto;
    width: 90%;
}

.theme-pic {
    width: 100%;
    height: auto;
    border-radius: 8px;
}
.settings-pic {
    width: 100%;
    height: auto;
    border-radius: 8px;
    align-items: center;
}

@media (min-width: 801px) {
    .settings-themes-showcase {
        flex-direction: row;
    }
    
    .settings-themes-showcase .plugin-pic {
        flex: 1; 
    }
}
@media (max-width: 800px) {
    .project-header h3 {
        text-align: left !important;
    }

    .project-page h1 {
        font-size: 1.4em;
    }

    .project-page h3 {
        font-size: 1em;
    }

    .project-header ol li,
    .project-header ul li {
        margin-left: 5vw;
    }

    .project-page ol li,
    .project-page ul li {
        margin-right: 0rem;
    }

    .technical-breakdown p,
    .project-page ul {

        font-size: 1em;
    }

    .technical-breakdown h2 {
        margin-bottom: 3vw;
    }

    .technical-breakdown h3 {
        text-align: center;
    }

    .techstack {
        flex-wrap: nowrap;
        padding-left: 0;
        display: flex;
        align-items: center;
        padding-right: 0.5vw;
        box-sizing: border-box;
        gap: 1vw 3vw !important;
    }

    .tech-item.first-item,
    .techstack .tech-item {
        padding-left: 0 !important;
        justify-content: center;
    }

    .tech-item.first-item {
        padding-left: 3vw !important;
    }

    .project-list .experience {
        padding-left: 0vw;
    }

    .experience {
        padding-left: 6vw;
        max-width: 90%;
    }

}