@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

@import url('colors.css');

/* Global Styles */

h2,
p {
    color: var(--primary-text-color);
    text-align: center;
}

h3,
.info h3 {
    border-radius: 5px;
    overflow: hidden;
    color: var(--primary-text-color);
    background: linear-gradient(135deg, var(--h3-background-color2), var(--h3-background-color));
    backdrop-filter: blur(10px);
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
}

.info h3 {
    font-size: 1.1em;
}

.info h4 {
    color: var(--primary-text-color);
    backdrop-filter: blur(10px);
    margin-left: 1vw;
    margin-right: auto;
    padding: 5px;
}

.italic {
    font-style: italic;
}

.softwareattributes {
    font-style: italic;
    color: var(--highlight-color);
}

.languages .numlist {
    text-align: left;
    column-count: 4;
    column-gap: ex;
    max-width: 90%;
}

.languages .numlist li {
    margin-bottom: 1vw;
    margin-left: .5vw;
    break-inside: avoid-column;
}

.languages .numlist li:last-child {
    margin-bottom: 0;
}

/* Contests and Projects */

.projects {
    width: clamp(200px, 95%, 800px);
}

.contests {
    display: flex;
    flex-direction: column;
}

.contest a,
.contest h4 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: clamp(200px, 100%, 900px);
    text-decoration: none;
    color: var(--primary-text-color);
    box-sizing: border-box;
    position: relative;
}

.contest_info {
    flex: 2 1 0;
    min-width: 55%;
    max-width: 95%;
    padding-right: 3vw;
    text-align: left;
}

.project_info {
    color: var(--highlight-color);
}

.rank,
.rating {
    line-height: normal;
    align-self: center;
    height: auto;
    display: flex;
    align-items: center;
    padding-right: vw;
}

.rank {
    text-align: left;
    min-width: 65%;
    flex: 1;
    color: var(--primary-text-color);
}

.rank b,
.rating b {
    margin-left: 5px;
    margin-right: 5px;
}

.rating {
    text-align: center;
    flex: 1;
    min-width: 15%;
    color: var(--primary-text-color);
    width: fit-content;
}

.rating b,
.rank b {
    font-weight: 800;
    color: var(--highlight-color2);
}

.section {
    background: linear-gradient(135deg, var(--section-color1), var(--section-color2));
    backdrop-filter: blur(10px);
    border-radius: 5px;
    box-shadow: 0px 4px 6px var(--box-shadow-color);
    padding-bottom: .2vw;
}

.projects,
.contests {
    color: var(--primary-text-color);
    text-decoration: none;
}

.contest:hover {
    text-decoration: underline;
}

.projects h4,
.assignments h4,
.contests h4 {
    margin-top: 0vw;
    padding-left: 15px;
    max-width: 95%;

}

.projects h4,
.assignments h4,
.contests h4 {
    margin: 1vw;
    margin-top: 0vw;
    font-size: 1em;
}


.projects h4,
.contests h4 {
    color: var(--primary-text-color);
    text-decoration: none;
}

/* Lists and Highlighting */
.numlist li::marker {
    color: var(--highlight-color);
}

.bulletlist li::marker {
    color: var(--highlight-color);
}

.numlist,
.bulletlist {
    font-size: large;
    font-weight: bold;
    padding-top: 0;
    max-width: 83%;
}

ol,
ul {
    margin-block-start: 0;
    margin-block-end: 1vw;
}

.list li {
    color: var(--primary-text-color);
}

.assignments {
    text-decoration: none;
    color: var(--primary-text-color);
}

.assignments a {
    color: var(--primary-text-color);
    text-decoration: none;
}

.project-link {
    text-decoration: none;
    color: inherit;
}

.assignments a:hover,
.project-link:hover,
.titles a:hover {
    text-decoration: underline;
    text-decoration-color: var(--highlight-color);
}

.highlight {
    color: var(--highlight-color);
    font-weight: bold;
}

.proficiency {
    font-weight: bold;
    font-size: 0.9em;
    color: var(--highlight-color);
}

ol {
    color: var(--highlight-color);
}

.info ol li,
.info ul li {
    font-size: .9em;
    color: var(--primary-text-color);
    margin-bottom: .5vw;
}

.section h3,
.info h3 {
    margin-bottom: 1.0vw;
}

@media (min-width: 1440px) {

    .rank {
        min-width: 35%;
    }

    .contest_info {
        min-width: 55%;
    }

}

@media (max-width: 700px) {

    .section h3,
    .info h3 {
        margin-bottom: 3vw;
    }

    .contest_info {
        min-width: 50%;

    }

    .contest .project_info {
        text-decoration: underline;
        text-decoration-color: var(--mobile-underline-color);
    }

    .rank {
        margin-left: 10px;
        min-width: 40%;
        display: flex;
        flex-wrap: wrap;
    }

    .highlight {
        text-decoration: underline;
        text-decoration-color: var(--mobile-underline-color);
    }

    .rank {
        text-align: left;
        flex: 1;
        width: auto;
        overflow-wrap: break-word;
    }

    .languages .numlist {
        column-count: 3;
        column-gap: 1vw;

    }

    .languages .numlist li {
        margin-left: 1vw;
        padding: 0px;
        font-size: .9em;
    }

    .projects h4,
    .assignments h4,
    .contests h4 {

        margin-top: 0vw;
        margin-left: 2vw;
        font-size: .9em;

    }

    .section .numlist {
        font-size: .97em;
        margin-left: 0px;
        padding-left: 9vw;
    }

    .section .bulletlist {
        font-size: .97em;
        margin-left: 0px;
        padding-left: 9vw;
    }

    .section {
        padding-bottom: 1vw;
    }

}

@media (max-width: 500px) {
    .languages .numlist {
        column-count: 2;
        column-gap: ex;

    }
}